.button {
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  min-height: 44px;
  color: #000;

  &__cta {
    padding: 20px 12px;
    font-size: 20px;
    min-width: 200px;
  }

  &.success {
    --bgColor: #16a085;
    background-color: var(--bgColor);
    border: 1px solid var(--bgColor);
    color: white;
  }

  &:hover {
    opacity: .85;
  }
}