.button {
  background-color: gray;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  min-height: 44px;

  &__cta {
    background-color: var(--link-color);
    padding: 20px 12px;
    font-size: 20px;
    width: 200px;
  }

  &:hover {
    opacity: .85;
  }
}
.success {
  background-color: #16a085;
}