.button {
  background-color: gray;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  min-height: 44px;

  &:hover {
    opacity: .85;
  }
}
.success {
  background-color: #16a085;
}